{{- if .Site.Menus.main }}
<nav class="menu js">
  <button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
    <span class="menu__btn-title" tabindex="-1">Menu</span>
  </button>
  <ul class="menu__list">
    {{- $currentNode := . }}
    {{- range .Site.Menus.main }}
    {{- if .Name }}
    {{- if .HasChildren }}
    <li class="menu__item menu__dropdown{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
      <a class="menu__link" href="{{ .URL }}">
        {{ .Pre }}
        <span class="menu__text">{{ .Name }}</span>
        <label class="drop-icon" for="{{ .Name }}">▾</label>
        {{ .Post }}
      </a>
      <input type="checkbox" id="{{ .Name }}">
      <ul class="submenu__list">
        {{ range .Children }}
          <li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
          <a class="menu__link" href="{{ .URL }}">
            {{ .Pre }}
            <span class="menu__text">{{ .Name }}</span>
            {{ .Post }}
          </a>
          </li>
        {{ end }}
      </ul>
    </li>
    {{- else }}
    <li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
      <a class="menu__link" href="{{ .URL }}">
        {{ .Pre }}
          <span class="menu__text">{{ .Name }}</span>
        {{ .Post }}
      </a>
    </li>
    {{- end }}
    {{- end }}
    {{- end }}
  </ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
