<ul>
{{ $path := .Scratch.Get "path" | replaceRE "^/*" "" | replaceRE "/*$" "/" }}
{{ range where (where .Site.RegularPages "Params.hidden" "!=" true) "File.Dir" $path }}
<li>
	{{- if .Param "datesinlist" }}
	<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "06, Jan 02" }}</time> &ndash;
	{{ end -}}
	<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
</li>
{{- end }}
</ul>
