.lw, dt img, dd img, p img, li img, h1 img, h2 img, h3 img, h4 img, dt img, td img, button img {
	max-height: .8em;
	max-width: 1em;
	vertical-align: middle ;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center ;
}

header {
	text-align: center ;
	font-family: "Fira Sans",sans ;
	padding-bottom: 15pt ;
}
header h1 {
	font-size: 30pt ;
	margin-bottom: 0 ;
}
header h2 {
	margin-top: 0 ;
	font-style: italic ;
	padding: .5em ;
}

h1 { color: chocolate ; }
h2 { color: sandybrown ; }
h3 { color: tan ; }
h4 { color: wheat ; }
h5, h6 { color: cornsilk ; }

strong {
	color: wheat ;
}

a {
	color: #33bbff ;
	text-decoration: none ;
}

a:hover:not(.menu__link) {
  font-style: italic;
}

dt {
	font-weight: bold ;
}
body {
	background: #1b1b1b ;
	color: #fff ;
	margin-bottom: 200px ;
	font-family: "Garamond", Georgia, serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji';
}

aside {
	padding: 0 5em;
	font-style: italic;
}

main {
	max-width: 900px ;
	margin: auto ;
}

main > article {
	margin-bottom: 0 ;
	margin: auto ;
}

footer {
	max-width: 600px ;
	margin-left: auto ;
	margin-right: auto ;
	text-align: center ;
	clear: both ;
}

@media (min-width: 1200px) {
		.resright, .profile{
		display: block ;
		float: right;
		clear: both ;
		padding: 10px ;
		max-width: 200px ;
	}
}

.profile {
	text-align: center ;
	max-height: 250px ;
}
.profile img {
	margin-top: -25px ;
	max-height: inherit ;
	/* border-radius: 50px ; */
	/* max-width: 100% ; */
	max-width: 200px ;
}


.titleimg {
	align: center ;
}

.titleimg img {
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
	display: block ;
}

code {
	color: #0d0 ;
	overflow-wrap: break-word ;
}

.resright {
    margin: auto ;
    display: block ;
    text-align: center ;
    max-width: 100% ;
}

.resright img {
	max-height: 300px ;
}

figcaption {
	text-align: center ;
	display: block ;
	font-style: italic ;
}

math {
	display: block ;
	text-align: center ;
}

.qr { max-width: 150px ; padding: 10px }

input, textarea {
	background: #222 ;
	color: white ;
	margin: auto ;
	border-color: #333 ;
	font-size: large ;
}


form {
	margin: auto ;
	width: 30em ;
}

pre {
	border-radius: 20px ;
	padding: 1em ;
}

time {
	font-family: monospace ;
	color: #888 ;
	font-size: 10pt ;
}

input, textarea {
	background: black ;
}

/* For NEXTPREV.HTML */
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

blockquote {
	font-style: italic ;
	font-size: large ;
}

del {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  /* text-decoration-color: #770000; */
  text-decoration-color: #fb4934ee;
}
