<details>
	<summary>{{- with .Get "title" }}{{. | markdownify }} ({{ end -}}нажмите для показа{{- with .Get "title" }}){{ end -}}</summary>
		<iframe src="{{ .Get "src" }}"
        loading="lazy"
        sandbox="allow-same-origin allow-scripts allow-popups"
        allowfullscreen frameborder="0"
        class="embvid"
        title="Embedded Video">
</iframe>
</details>
