<!--
	src: image source
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	title: what the image says when moused over
-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}>
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ .Get "src" }}"
	     {{- with .Get "title" }} title="{{.}}"{{ end -}}
	     {{- with .Get "alt" }} alt="{{.}}"{{ end -}}
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . | markdownify -}}
	</figcaption>
	{{- end -}}
</figure>
